<div class="container">

<% if @notes %>
  <div id="note_container">
    <% @notes.each do |note|%>
    <div id="note_title">
      <%= note.title %>
    </div>
    <div id="note_body">
      <%= note.body %>
    </div>
      <div id="options">
        <div class="note_options">
          <a href='/notes/update/<%=note.id%>'>Update Note</a>
        </div>
        <div class="note_options">
          <a href='/notes/delete/<%=note.id%>'>Delete Note</a></br>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
